<div class="header-navigation">
	<ul>
		<li><a href="{{ path('_home') }}">Accueil</a></li>
		<li class="dropdown active">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
				Services
			</a>
			<ul class="dropdown-menu">
				<li><a href="">Restauration</a></li>
				<li><a href="">Projets de restauration</a></li>
				<li><a href="">Entretien</a></li>
				<li><a href="">Equilibrage</a></li>
				<li><a href="">Location</a></li>
			</ul>
		</li>
		<li><a href="{{ path('_cars') }}">Nos Véhicules</a></li>
		<li><a href="">Pièces Détachées</a></li>
		<li><a href="{{path('_blog')}}">Actualités</a></li>
		<li><a href="{{ path('_contact') }}">Nous Contacter</a></li>

		<!-- BEGIN TOP SEARCH -->
		<li class="menu-search">
			<span class="sep"></span>
			<i class="fa fa-search search-btn"></i>
			<div class="search-box">
				<form action="#">
					<div class="input-group">
						<input type="text" placeholder="Search" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div> 
		</li>
		<!-- END TOP SEARCH -->
	</ul>
</div>
<!-- END NAVIGATION -->