<div class="col-md-6 col-sm-6 additional-nav">
    <ul class="list-unstyled list-inline pull-right">
        <li><a href="">Mon Compte</a></li>
        <li><a href="">Mon Panier</a></li>
        <li><a href="">Se Connecter</a></li>
    </ul>
</div>